/* Цвет основного текста #757575 */
/* Цвет названий #212121 */
/* Цвет лого #000000 */
/* Белый #ffffff */
/* Вторичный цвет фона #F5F4FA */
/* Цвет футера #2F303A */
/* Вторичный белый в футере rgba(255, 255, 255, 0.6); */
/* Акцент #2196F3 */

body {
    background-color: #ffffff;
    color: #757575;
    font-family: Roboto, sans-serif;
}
.list {
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 215px;
}
.section {
    padding: 94px 0;
}
.section-adv {
    padding-top: 94px;
}
.start {
    padding: 200px 0;
}
.start-title {
    margin-bottom: 30px;
}
.link {
    text-decoration: none;
}
.logo-web {
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-studio {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
}
.contacts .link{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
    color: #2196F3;
}
.start {
    background-color: #2F303A;
}
.start-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.start-button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
}
.section-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.features .title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features .descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.people .title {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.people .descr {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.staff {
    background-color: #F5F4FA;
}
footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.adress-footer {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-footer:hover,
.adress-footer:focus {
    color: #2196F3;
}
.adress-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-contact:hover,
.adress-contact:focus {
    color: #2196F3;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.filter-button {
    background-color: #F5F4FA;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    background-color: #2196F3;
    color: #ffffff;
}
.card-title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card-descr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}